// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("header.jpg");
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
  vertical-align: top;
}

.about {
  background-color: #DDFFFF;
  color: #333;
  padding: 80px;
}


footer {
  width: 100%;
  background-color:#00CCFF;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-color:white;
}

.container{
    margin-top:20px;
    padding-bottom: 100px;
}

.table .thead .th{
  text-align: center;
}

